{% extends 'base.html' %}
{% block content %}

      
      <div class="container my-4">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <div class="content" id="post-container">

            </div>
            <div class="load-img" id="more-data">

            </div>
          </div>
        </div>
      </div>

      <script>
        $(document).ready(function() {
          var limit=3;
          var start=0;
          var action='inactive';
          function load_post_data(limit, start){
            $.ajax({
              url:'fetch/',
              method:'GET',
              data:{
                limit:limit,
                start:start
              },

              caches:false,
              success:function(response){
                $("#post-container").append(response);
                if(response==""){
                  $('#more-data').html("<button type='button' class='btn btn-info'>Post Not Found</button>" )
                  action='active';
                }else{
                  $('#more-data').html("<button  class='btn btn-success'>Load More Post</button>")
                  action='inactive';
                }
              }

            })
          }

          if(action=="inactive"){
            action='active',
            load_post_data(limit, start);
          }
          $(window).scroll(function(){
            if($(window).scrollTop() + $(window).height() > $('#post-container').height() && action == "inactive"){
              action = 'active';
              start = start + limit;
              setTimeout(function(){
                load_post_data(limit, start);
              }, 1000)
            }
          })
        })
      </script>
    
{% endblock %}
